body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
   /* background-position: 5% 5%;*/
   background-position: rigth center;
   background-size: cover;
   background-attachment: fixed;
    
}
